<div class="jumbotron vertical-center">
  <div class="container center">
    <p class="quote">"Stay fluid even in stacatto"</p>
    <p class="quote">-Mos Def</p>
    <div class="flex-video">
      <iframe src="https://www.youtube.com/embed/65Yzwp__Axk" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
