<div class="jumbotron center">
  <p class="quote">"Stay fluid even in stacatto"</p>
  <p class="quote">-Mos Def</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/65Yzwp__Axk" frameborder="0" allowfullscreen></iframe>
</div>
