<div class="page-footer center with-solid-background">
  <h3>refresh the page for more music and mottos</h3>
  <p class="quote padded-top">~a few friends pooling together quotes and songs to help kickstart your day~</p>
  <%= link_to "soundcloud", "#" %>
  <%= link_to "youtube", "#" %>
  <%= link_to "instagram", "#" %>
</div>
