<div class="page-footer center with-solid-background">
  <div class="padded-top"></div>
  <h3>refresh the page for more music and mottos</h3>
  <p class="quote padded-top">~a few friends pooling together quotes and songs to help kickstart your day~</p>  
    <%= link_to "soundcloud", "https://soundcloud.com/life-in-slices" %>
    <%= link_to "youtube", "https://www.youtube.com/user/wilhsie" %>
    <%= link_to "instagram", "https://www.instagram.com/wilhsie/" %>
    <%= link_to "facebook", "https://www.facebook.com/lifeinslic.es" %>
  <div class="padded-bottom"></div>
</div>
