<div class="page-footer">
  <div class="jumbotron center with-solid-background">
    <h1>Check us out</h1>
    <%= link_to "soundcloud", "#" %>
    <%= link_to "youtube", "#" %>
    <%= link_to "instagram", "#" %>
  </div>
</div>
